.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  font-family: Arial, sans-serif;
}

button {
  padding: 20px 40px;
  border-radius: 12px;
  border: none;
  font-size: 22px;
  cursor: pointer;
  transition: 0.25s;
}

button.active {
  background: red;
  color: white;
}

button:not(.active) {
  background: green;
  color: white;
}
